{% extends "base.html" %}

{% load admin_helpers %}

{% block content %}
    <h1>Book List</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'book_create' %}">Create book</a>
    {% endif %}

    {% if book_list %}
        <ul>

        {% for book in book_list %}
            <li>
                <h4>{{ book.title }} - {{book.author}}</h4>
                <p>Price: {{ book.price }} UAH</p>
                <p>ISBN: {{ book.isbn }}</p>
                <p>{{ book.published_date }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'book_update' book.pk %}">Edit book</a>

                    {% admin_edit book %}

                    <a href="{% url 'book_delete' book.pk %}">Delete book</a>

                {% endif %}
                <br>
            </li>
        {% endfor %}

        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
    <a href="{% url 'requests' %}">Requests</a>
{% endblock %}
